<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en">
    <title>Home Page</title>
</head>

<body>
    <header>
        <h3 style="text-align: center">Welcome to our facility</h3>
        <a href="LoginPage.html">
            <h4 style="text-align:right;padding-right: 6%;display:inline-block">Logout</h4>
        </a>

        <a href="MyProfile.php">
            <h4 style="padding-right:3%;display:inline-block;text-align: left">My Profile</h4>
        </a>

    </header>
    <div style="width: 100%;padding-left: 5%">
        <h2>Select Area
            <select name="location" id="locationList">
                <option value="Banani">Banani</option>
                <option value="Gulshan">Gulshan</option>
                <option value="Bashundhara">Bashundhara</option>
                <option value="Mohakhali">Mohakhali</option>
                <option value="Dhanmondi">Dhanmondi</option>
            </select>
        </h2>

    </div>

    <div style="display: inline-block; padding: 3%">

        <a href="Item.html">
            <img src="image/images%20(1).jpg" alt="Restaurant 1">
        </a>
        <h5 style="text-align: center">Khaoa Daoa</h5>
    </div>

    <div style="display: inline-block; padding: 3%">
        <a href="Item.html">
            <img src="image/ges.jpg" alt="Restaurant 2">
        </a>
        <h5 style="text-align: center">Restaurant 2</h5>
    </div>

    <div style="display: inline-block; padding: 3%">
        <a href="Item.html">
            <img src="image/hcmp164677_625910.jpeg" alt="Restaurant 3">
        </a>
        <h5 style="text-align: center">Restaurant 3</h5>
    </div>

    <div style="display: inline-block; padding: 3%">
        <a href="Item.html">
            <img src="image/images.jpg" alt="Restaurant 4">
        </a>
        <h5 style="text-align: center">Restaurant 4</h5>
    </div>

    <div style="display: inline-block; padding: 3%">
        <a href="Item.html">
            <img src="image/italian-cuisine-pasta-organic-food-restaurant-png-favpng-PQEJvw1uKt9E6sh9LbPVHa7wR.jpg" alt="Restaurant 5">
        </a>
        <h5 style="text-align: center">Restaurant 5</h5>
    </div>

    <div style="display: inline-block; padding: 3%">
        <a href="Item.html">
            <img src="image/khichdi.jpg" alt="Restaurant 6">
        </a>
        <h5 style="text-align: center">Restaurant 6</h5>
    </div>

</body>

</html>
