<html>

<head>
    <title>Sign Up</title>
    <script type="text/javascript" src="../assets/Signup.js"></script>
    <link rel="stylesheet" href="css/signup.css">
</head>

<body>
    <div id="mainDiv">
        <div id="formDiv">
            <form action="" method="post">
                <h2>Register Here</h2>
                <br>
                <table>
                   
                    <tr>
                        <td>Full Name</td>


                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="fullName" required>
                        </td>
                        <td id="fullnameMsg"></td>
                    </tr>

                    <tr>
                        <td>User Name</td>


                    </tr>

                    <tr>
                        <td>
                            <input type="text" id="userName" required>
                        </td>
                        <td id="usernameMsg"></td>
                    </tr>

                    <tr>
                        <td>Password</td>


                    </tr>

                    <tr>
                        <td>
                            <input type="password" id="password" required>
                        </td>
                        <td id="passwordMsg"></td>
                    </tr>

                    <tr>
                        <td>Confirm Password</td>


                    </tr>

                    <tr>
                        <td>
                            <input type="password" id="confPassword" required>
                        </td>
                        <td id="confpassMsg"></td>
                    </tr>


                    <tr>
                        <td colspan="2">Select User Type</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <select name="userType" id="userType">
                                <option value="customer">Customer</option>
                                <option value="rider">Rider</option>
                                <option value="restaurant">Restaurant</option>
                            </select>
                        </td>
                    </tr>
                    

                </table>
            </form>
        </div>
    </div>
</body>

</html>
