<html>

<head>
    <title>Sign Up</title>
    <script type="text/javascript" src="../assets/js/Signup.js"></script>
    <link rel="stylesheet" href="../assets/css/signup.css">
</head>

<body>
    <div id="mainDiv">
        <div id="formDiv">
            <form action="../PhpController/signupController.php" method="post">
                <h2>Register Here</h2>
                <br>
                <table>

                    <tr>
                        <td>Full Name</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="fullName" onkeyup="FullnameCheck()" onfocusin="FullnameCheck()" required>
                        </td>
                    </tr>

                    <tr>
                        <td id="fullnameMsg"></td>
                    </tr>


                    <tr>
                        <td>Email</td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" id="email" onkeyup="EmailCheck()" onload="" required>
                        </td>
                    </tr>

                    <tr>
                        <td id="emailMsg"></td>
                    </tr>

                    <tr>
                        <td>User Name</td>
                    </tr>

                    <tr>
                        <td>
                            <input type="text" id="userName" onkeyup="UserNameCheck()" onload="UserNameCheck()" required>
                        </td>

                    </tr>

                    <tr>
                        <td id="usernameMsg"></td>
                    </tr>

                    <tr>
                        <td>Password</td>


                    </tr>

                    <tr>
                        <td>
                            <input type="password" id="password" onkeyup="PasswordCheck()" required>
                        </td>

                    </tr>

                    <tr>
                        <td id="passwordMsg"></td>
                    </tr>

                    <tr>
                        <td>Confirm Password</td>


                    </tr>

                    <tr>
                        <td>
                            <input type="password" id="confPassword" onkeyup="ConfirmPassCheck()" required>
                        </td>

                    </tr>

                    <tr>
                        <td id="confpassMsg"></td>
                    </tr>



                    <!--
                    
                    <tr>
                        <td colspan="2">Select User Type</td>
                        <td></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <select id="users" onchange="UserCheck()">
                                <option>Select</option>
                                <option>Customer</option>
                                <option>Rider</option>
                                <option>Restaurant</option>
                            </select>
                        </td>
                        </tr>
                         -->




                    <tr>
                        <td id="usertypeMsg"></td>
                    </tr>

                    <tr>
                        <td>
                            <hr>
                        </td>
                    </tr>


                    <tr>

                        <td>
                            <button type="button" onclick="SubmissionCheck()">Submit</button>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</body>

</html>
