body {
    background-color: gainsboro;
}

#mainDiv {
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10%;
    background-color: gainsboro;
    display: block;
}

.centerDiv {
    margin-left: 10%;
    background-color: azure;
    padding-left: 10%;
    display: block;
    border: 5px solid;
    border-radius: 5px;
}

.header-text {
    margin: 10%;
    background-color: azure;
    display: block;
}

#loginIcon {
    margin-left: 5%;
    display: inline-block;
}



.login-form {
    margin: auto;
    background-color: azure;
}

#credentials {

    float: inherit;
}

#signinText {

    float: inherit;
    text-align: right;
    display: inline-block;

}

#userNameMsg {
    color: red;
}

#passWordMsg {
    color: red;
}
