#formDiv{
	display: block;
	margin-left: 40%;
	padding: 3%;
}

#fullnameMsg{
	color: red;
}

#emailMsg
{
	color: blue;
}

#usernameMsg{
	color: red;
}

#passwordMsg{
	color: red;
}

#confpassMsg{
	color: red;
}


table{
	border: 5px solid;
	padding: 2%;
	border-radius: 5px;
}